<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="mainnet-client">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <!-- The opt-in live integration test never runs in a normal offline suite. -->
        <exclude>
            <group>live</group>
        </exclude>
    </groups>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
